/*Main styling

Contents

	1. General styling: line 9-18
	2. Nav Bar Styling: line 19-111 
	3. Landing page styling: line 112-254
	4. Project page styling: line 255+
	5. Slide Show styling: line xx-xx
	6. CSS animations: line xx-xx*/

/*General Styling*/

body {
	background-color: #ededed;	
	margin: 0;
	display: flex;
	flex-direction: column;
	/*height: 3000px;*/
}

/*Navigation Bar Styling*/

#header {
	width: 100vw;
	display: flex;
	justify-content: center;
	padding: 0px 0px 0px 0px;
	z-index: 1;
	
}

a {
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: white;
}
.zlogo{
	height: 25px;
	padding-right: 20px;
}

.circlelogo{
	height: 50px;
}

.nav-down {
	position: absolute;
    top: 0px;
    transition: top 0.1s ease-in-out;

}

.nav-up {
	position: fixed;
    top: -80px;
    transition: top 0.1s ease-in-out;
}

.navBar {
	width: 100vw;
	padding: 0px 100px 0px 100px;
	}

#landingNavBar {
	padding-top: 25px;
}

#projectNavBar {
	position: absolute;
	/*background-image: url('../img/landing/topBar.png');*/
	padding-top: 30px;
}

#headerBranding {
	float: left;
	color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	padding: 0px 30px 0px;
	animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.navBar ul{
	list-style-type: none;
	margin: 0;
    padding: 0;
    animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.navBar li{
	float: left;
}

.navBar li a:hover:not(.active) {
	background-color: #343434;
}

#active {
    color: #55bd86;
    font-weight: 100;
}

.navBar li a{
	display: block;
	padding: 25px 25px 25px 25px;
	color: white;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 10pt;
}

#navBarRight {
	float: right;
	padding-right: 20px;
}

#navBarLeft {
	float: left;
}


/*Landing page responsive styling*/

.landing {
	width: 100%;
	height: 100vw;
	/*padding-top: 65px;*/
	background-color: #343434;
	font-family: 'Roboto', sans-serif;
	color: white;
	font-size: 1em;
	display: inline-block;
	position: relative;
	overflow: hidden;

}

#landingMain{
	width: 315%;
	height: auto;
	display: block;
	overflow: hidden;
}

.landingText{
    position: absolute;    
    height: 100%;
    text-align: center;    
    width: 100%;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
.landingText:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.landingText h1 {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'roboto', sans-serif;
	font-weight: 100;
	font-size: 2vw;
	padding-right: 1.5vw;
}

#featureText {
	font-weight: bold;
	font-family: 'roboto', sans-serif;
}



.featureText{

}

.container{
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

.responsive-image {
	max-width: 100%;
}

.cell img {
	display: block;
}

.cell {
	overflow: hidden;
}

.cell:hover .responsive-image,
.cell:focus .responsive-image {
  transform: scale(1.1);
  transition: all .3s ease-in-out
}

#hiddenSquare{
		display: none;
	}

@media screen and (min-width: 600px) {
	.grid {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.cell {
		width: calc(50%);
	}
	.landing {
		height: 33.333vw;
	}
	#landingMain{
		width: 210%;
	}
	#hiddenSquare{
		display: none;
	}

	#verticalLandingText{
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.landingText{
		display: none;
	}
}

@media screen and (min-width: 1200px) {
	.cell{
		width: calc(33.3333%);
	}
	.landing {
		height: 25vw;
	}
	#landingMain{
		width: 110%;
	}
	#hiddenSquare{
		display: block;
	}
}

@media screen and (min-width: 1700px) {
	.cell{
		width: calc(25%);
	}

	#hiddenSquare{
		display: none;
	}
	.landing {
		height: 25vw;
	}

}

@media screen and (max-width: 900px) {
	#headerBranding {
		height: 50px;
	}
	.navBar{
		/*padding: 0px;*/
		background-image: url('../img/landing/topBar.png');
	}

	#projectNavBar{
		/*padding: 0px;*/
	}

	.landing {
		display: none;
	}
		.container {
		padding: 65px 0px 0px 0px;
	}

	#landingNavBar{
		padding: 0px;
	}

	.zlogo{
		/*height: 20px;*/
		padding-top: 1em;
	}

	.landingText h1 {
	display: inline-block;
	text-transform: uppercase;
	font-family: 'roboto', sans-serif;
	font-weight: 100;
	font-size: 2.5vw;
	padding-right: 1.5vw;
	}
}

@media screen and (max-width: 650px) {
	.navBar{
		/*padding: 30px;*/
	}
	.navBar ul{
/*		display: none;*/
	}

	#myName{
		display: none;
	}

	.navBar li a{
		padding: 25px 10px 25px 5px;
	}

	#landingNavBar{
		padding: 0px;
	}

}

@media screen and (max-width: 300px){
		.navBar ul{
		display: none;
	}
}

/*Project Page Styling*/

#projectNav {
	position: absolute;
	padding: 30px 0px 0px 30px;
}

.project {
	min-height: 100vh;
	padding: 0px 0px 0px 0px;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	background-color: #ededed;
} 

.projectInfo {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    /*margin: auto;*/
	/*background-color: #ededed;*/
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Roboto', sans-serif;
	/*color: #141617;*/
	
}

.infoPanel{
	/*padding: 0em 1em 0em 1em;*/
	/*height: 100%;*/
	/*width: 35%;*/
	text-align: justify;
	animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.infoPanel:first-of-type {
	padding-right: 2em;
}

.infoPanel h1{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 0.9em;
}

.infoPanel p{
	font-size: 0.75em;
}

.projectSlideShow{
	/*max-height: 70vh;*/
	width: 100vw;
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.imageCell{
	height: 100%;
	display: block;
}

.imageCell img {
	display: block;
	/*max-height: 70vh;*/
	max-width: 60%;
	width: auto;
	margin: auto;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	/*margin-bottom: 4em; */
}

.projectImage{
	max-width: 100%;
	height: auto;
}

#valet{
	background-color: #54bdf5;
	color: white;
	border-bottom-color: white;
}

#OttoQApp{
	background-color: #3daff1;
	color: white;
	border-bottom-color: white;
}

#giftMe{
	background-color: #fb2154;
	color: white;
	border-bottom-color: white;
}

#ottoqDashboard{
	background-color: #f8f9f9;
	color: black;
	border-bottom-color: black;
}

#mustachio{
	background-color: #39d5e5;
	color: white;
	border-bottom-color: white;
}

#cliffyRun{
	background-color: #54caea;
	color: white;
	border-bottom-color: white;
}

#visual{
	background-color: #96fff5;
	color: #343434;
	border-bottom-color: white;
}

#apparel{
	background-color: #5b6b71;
	color: white;
	border-bottom-color: white: 
}

/*Slideshow Styling*/

.slideShowController{
	display: none;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	/*padding-top: 10px;*/
}


.prev, .next {
  display: none;
  color: #bbb;
  padding: 10px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  animation: fadein 1s;
  cursor: pointer;
}

.prev:hover, .next:hover {
	transform: scale(1.2);
}
.prev {
	margin-right: 20px;
}

.next {
	margin-left: 20px;
}

.dot {
	margin: 10px 5px 5px 5px;
	cursor:pointer;
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	animation: fadein 1s;
}

.active, .dot:hover {
  background-color: white;
}

.fade {
  -webkit-animation-name: fade ;
  -webkit-animation-duration: 0.5s;
  animation-name: fade ;
  animation-duration: 0.5s;
}

@media screen and (max-width: 1500px) {
	.projectInfo {
		max-width: 75%;
		/*flex-direction: column;*/
	}

	.imageCell img {
		max-width: 75%;
}

@media screen and (max-width: 900px) {

	.projectSlideShow{
		padding-top: 4em;
	}
	.projectInfo {
		max-width: 90%;
		flex-direction: column;
	}

	.imageCell img {
		max-width: 90%;
}
	.projectInfo {
		/*display: block;*/
}
	.infoPanel{
		/*width: 100%;*/
		padding: 0px 0px 0px 0px;
		margin: 0 auto;
	}

	.infoPanel:first-of-type {
		padding-right: 0em;
		padding-bottom: 2em;
	}
}

/*CSS animations*/

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
